body {
    display: flex;
    border: 1px solid black;
}

.block {
    width: 50%;
    margin: 0;
    padding: 0;
}

.berners {
    position: relative;
    width: 100%;
}

.flag {
    position: absolute;
    top: 10px;
    right: 50%;
    width: 10%;
}

.block2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 35px;
}

.block3 {
    display: flex;
    justify-content: space-between;
}

a {
    margin-top: 20px;
}